html, body{
  margin:0;
  padding:0;
  overflow:hidden;
  background:radial-gradient(1045px 1045px, #fff 10px,#ababab 800px);
}

.gui-container {
	position:absolute;
	z-index: 2;
}

.data-container{
  display:none;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-235px;
  margin-top:-182px;
  z-index:4;
}
.submit{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  position:absolute;
  z-index:4;
  cursor:pointer;
  padding:10px 20px;
  top:50%; left:50%;
  margin-left:20px;
  margin-top:200px;
  background:white;
  color:black;
}

.cancel{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  position:absolute;
  z-index:4;
  cursor:pointer;
  padding:10px 20px;
  top:50%; left:50%;
  margin-left:123px;
  margin-top:200px;
  background:white;
  color:red;
}

.cancel:hover{
  background:red;
  color:white;
}
.submit:hover{
  background:black;
  color:white;
}

#messages {
	display: inline-block;
	position: absolute;
	width: 35%;
	border-radius: 5px;
	padding: 20px, 15px;
	left: 50%;
 	margin-left:-235px;
 	background: rgba(72, 72, 72, 0.57);
 	opacity: 0;
 	transition: opacity 5s;
 	-webkit-transition: opacity .5s;
 	z-index:5;
 }

#messages h1 {
	font-size: 1.2em;
	color: white;
	text-align: center;
}

.show {
	transition: 5.s;
	opacity: 1;
}

#rotation-wrap {
	position: relative;
	float: right;
	z-index: 3
}

#canvas-wrap {
	position: absolute;
	z-index: 1;
}